/* selectores css
#A942B2 Drak
#F591FF
#F378FF Base
#6CB230
#B6FF78 light
*/

html{
	font-family: 'Comfortaa', cursive;
}
.container{
	background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 300vh;
display: flex;
align-items: center;
justify-content: center; 
}

.content{
	/*padding: 2em;*/
	padding: 0.5px;
	max-height: 1200px;
	width: 85%;
	height: 90%;
	background: #fcdfa6;
	position: relative;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: scroll;

}
.title{
	text-transform: uppercase;
	text-align: center;
}
}
.item-title{
	text-transform: uppercase;
}
.table{
	width: 100%;
	border-spacing: 0;
}
.table td, .table th{
	padding: 1em;
	text-align: left;
}
 th{
 	display: none;
 }
 td{
 	display: block;
 }
.table tr:nth-child(even) {
    background-color: #f4b886;
    color: white;
}
.fa-star{
	color: #b23a48;
}
.accion{
	position: sticky;
	top: 1em;
	right: 1em;
	display: flex;
	justify-content: flex-end;
}
.close{
	height: 40px;
	width: 40px;
	color: white;
	background-color: blue;
	display: inline-block;
	border-radius: 50px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
}
a.close{
    text-decoration: none;
}
.item-image{
    display: none;
}
video{
	width:85%;
}
iframe{
	
}

/*media querys
puntos de quiebre en la resolucion de la pantalla
*/
@media(min-width: 600px){
	th{
		display: table-cell;
	}
	td{
		display: table-cell;
	}
	.content{
		padding: 2em;
		max-width: 960px;
		width: 100%;
	}
	.item-image{
		display: inline-block;
	
	}
	.video{
		width: 20%;
		display: inline-block;
	}
	.iframe{
		width: 20%;
		display: inline-block;

}